:local(.formControl) {
  
  
  margin-bottom: 30px;
 
  input {
    height: 50px;
    font-size: 1em;
    border-radius: 50px;
    border: none;
    padding-left: 15px;
    box-shadow: 1px 1px 10px rgb(40, 63, 138);
  }

  

  label {
    color: #ECFEFF;
  }
}