:local(.credentials) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    font-size: 1.2em;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgb(40, 63, 138);
    background: #4EF037
  }
}